@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body {

    background-color: rgb(235, 241, 241) 100px auto 100px auto;
    color: rgba(red, green, blue, alpha);

    background-color: #ffffff;
    margin: 0px auto 0px auto;
}

header.cabecalho h1 {

    text-align: center;
    font-size: 32pt;
}

nav#menu option {
    list-style: none;
    text-transform: uppercase;
}

nav#menu {

    margin: 20px;
    font-size: 20px;

}

/* teste*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(red, green, blue, .6);
    padding: 15px;
    
    flex-direction: row;
   
    justify-content: space-around;
    padding: 24px;

}

.navbar a {
    text-decoration: none;
    color: inherit;
}

div.first-image img {
    margin-left: 555px;
    margin: center;


}

@media (max-width: 200px) {
    div.first-image img {
        position: absolute;
        left: 530px;
        top: 60px;
        margin-right: 50px;
    }
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 22px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and (max-width:600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}



.container {
    /*  background-color: red;*/
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-texto {
    margin-top: 0px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 800px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 50px;
    font-size: 20px;
    padding: 30px;
}

.container-texto h1 {
    font-size: 40px;
}


.container-texto p {
    padding: 15px;
    font-family: 'Sarala', sans-serif;

}

.container-imagem {
    align-items: center;
    width: 400px;
    padding: 20px;
    margin-left: 150px;

}

.container-imagem img {

    align-items: center;
    margin-right: 50px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    border-top: 20px;

}

.container-imagem img:hover {
    -webkit-transform: scale(1.3);


    /* efeito de ampliação de imagem*/
}

li:hover {
    -webkit-transform: scale(1.3);
    transition: 1s;
    text-shadow: red -6px 0, cyan 6px 0;
}

.first-image img:hover {

    -webkit-transform: scale(1.3);
    transition: 1s;

}


h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-family: 'Righteous', cursive;
}

h3 {
    font-size: 13px;

}

footer.rodape {
    margin-top: 30px;
    text-align: center;
    clear: both;
    border-top: 1px solid #ffffff;
}
.rodape h1{
    font-size: 24px;
}