@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: rgb(235, 241, 241) 100px auto 100px auto;
    color: rgba(red, green, blue, alpha)
}

/*.interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    padding: 20px;
    border-radius: 15px;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 25pt;
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}


h2.autor {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

}

section.esq h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
}

.up1 {

    font-family: Arial, Helvetica, sans-serif;

}

/* formatação de imagem com legenda*/

/*.imagem-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-texto img {
    width: 300px;
}

.imagem-texto-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-texto-aside img {
    max-width: 500px !important;
}

.imagem-texto-aside p {
    font-size: 12pt;
}

.conteudo-inicial {

    background-image: url('_imagens/anime_Dragon_Ball_planet.jpg') no-repeat ! important;

}

figure.fotos-com-legenda figcaption {

    position: relative;
    top: 0px;
    right: 22px;

}

section.esq {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 400px;
    float: left;
    border-right: 1px solid #ffffff;
    padding: 15px;
    margin-top: 10px;
}

aside.dir {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 530px;
    float: right;
    padding: 15px;
    margin-top: 10px;

}

aside.figure img {
    width: 260px;
    height: 180px;
}

footer.rodape {
    margin-top: 30px;
    text-align: center;
    clear: both;
    border-top: 1px solid #ffffff;
}*/