header.cabecalho h1 {

    text-align: center;
    font-size: 32pt;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(red, green, blue, .6);
    padding: 15px;

}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}

.conteudo-inicial {

    background-image: url('_imagens/anime_Dragon_Ball_planet.jpg') no-repeat ! important;

}

figure.fotos-com-legenda figcaption img {

    top: 0px;

}

@media screen and (max-width:600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }


    div.first-image img {
        position: absolute;
        left: 530px;
        top: 60px;
        margin-right: 50px;
    }
}

div.first-image img {
    width: 70%;
    margin-left: 16em;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* @media (max-width: 200px) {
    div.first-image img {
        position: absolute;
        left: 530px;
        top: 60px;
        margin-right: 50px;
    } */
/* } */

nav#menu option {
    list-style: none;
    text-transform: uppercase;
}

nav#menu {
    font-family: Impact, 'Arial Narrow Bold', 10px;
    margin: 20px;
    font-size: 20px;

}