/*body {

    background-color: rgb(235, 241, 241) 100px auto 100px auto;
    color: rgba(red, green, blue, alpha);

    background-color: #ffffff;
    margin: 0px auto 0px auto;
}

.trans {
    text-align: center;
    text-indent: 50px;
    font-size: 20px;


}

.transformacoes {

    font-size: 40px;

}

.imagem-texto {
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
}

.interface {

    background-color: #ffffff;
    /*margin: -20px auto 0px auto;*/
/* align-items: center;
    border-radius: 15px;*/